<section id="connexion" class="connexion-section">
  <div class="container my_card">
    <h2 class="text-center mb-4 p-3">Connecte-toi !</h2>
    
    <form id="connectionForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Votre email" required>
      </div>

      <div class="mb-3">
        <label for="MotDePasse" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="MotDePasse" placeholder="Votre mot de passe" required>
      </div>

      <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
  </div>
</section>
