<header>
  <nav class="navbar navbar-expand-lg fixed-top bg-primary">
    <div class="container-fluid">
        <a href="/"><img src="/images/logo_mini.png" alt="Logo de ABGYhuDJ" class="navbar-brand logo" height="50" width="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <!--Menu à gauche-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dates-tournee">Rock Apocalypse World Tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photos">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Nous contacter</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <% if (!session || !session.userId) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/inscription">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connexion">Se connecter</a>
                    </li>
                <% } %>

                <% if (typeof session !== 'undefined' && session.userId) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/mon-compte">Mon compte</a>
                    </li>
                <% } %>

                <% if (typeof session !== 'undefined' && session.role === 'admin') { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Espace Admin</a>
                    </li>
                <% } %>




                <% if (typeof session !== 'undefined' && session.userId) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/deconnexion">Déconnexion</a>
                    </li>
                <% } %>
            </ul>



            </ul>
        </div>
    </div>
  </nav>
</header>
