// custom.scss

// 1. Variables d'abord
$primary: #FF0000;
$secondary: #FFFFFF;
$light: #F2F2F2;
$dark: #000000;
$medium-gray: #CCCCCC;

$headings-font-family: 'Roboto', sans-serif;
$font-family-base: 'Open Sans', sans-serif;

//Utilisation de @use plus récente que @import. Obligé du coup de définir les variables avant
@use "bootstrap/scss/bootstrap" with (
  $primary: $primary,
  $secondary: $secondary,
  $light: $light,
  $dark: $dark,
  $font-family-base: $font-family-base,
  $headings-font-family: $headings-font-family
);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
  background-color: $light;
  color: $dark;
}


body.bg-black {
  background-color: black;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
}

p {
  font-family: $font-family-base;
}

main {
    min-height: 90vh;
    margin-top: 0px;
}

section {
    scroll-margin-top: 100px;
    margin-top: 60px;
  }

  // -------------------------------- Sections --------------------------------

.home-page-section{
  background-image: url('../images/rock-6.jpg');
  background-size: cover;
  background-position: center;
}

.welcome-section{
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact-section{
  padding-top: 150px;
  padding-bottom: 300px;
}

.rawt-section{
  padding-top: 100px;
  padding-bottom: 100px;
  color: $light;
  background-image: url('../images/rock-5.jpg');
  background-size: cover;
  background-position: center;
}

.reservation-section{
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  color: $light;
  background-image: url('../images/rock-4.jpg');
  background-size: cover;
  background-position: center;
}

// -------------------------------- Composants --------------------------------
// Boutons
.btn-primary {
  background-color: $primary;
  color: $secondary;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    color: $secondary;
    background-color: lighten($primary, 20%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.btn-secondary {
  background-color: $secondary;
  color: $primary;
  border: 1px solid $primary;
  transition: all 0.3s ease;

  &:hover {
    background-color: $primary;
    color: $secondary;
  }
}

.navbar {
    color: white;
  }
  
.navbar a {
    color: white;
    }
  

// Formulaires
input, textarea {
  border: 1px solid $light;
  background-color: $secondary;
  color: $dark;
  padding: 0.5rem;
  border-radius: 4px;

  &::placeholder {
    color: $medium-gray;
  }
}

// Boutons de soumission
button[type="submit"] {
  @extend .btn-primary;
}

footer {
  background-color: $dark;
  color: $secondary;
  padding: 1rem;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cadre{
    border: 6px solid rgb(238, 0, 0);
}

.icon-position {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: $primary
}

ul {
  list-style-type: none;
  padding-left: 0;  /* Supprimer l'espace à gauche pour les listes non ordonnées */
}


#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $primary;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  display: none; /* Modification via le javascript */
  transition: all 0.3s ease;
}

#backToTop:hover {
  background-color: lighten($primary, 20%); /* même survol que le bouton primaire */
}


//Pour la carte cliquable
.card-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-click {
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.card-click.flipped {
  transform: rotateY(180deg);
}

.card-click .card-body {
  backface-visibility: hidden;
}

.card-click .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $secondary;
  color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}