/* Error: Can't find stylesheet to import.
 *    ,
 * 11 | / @use "bootstrap/scss/bootstrap" with (
 * 12 | |   $primary: $primary,
 * 13 | |   $secondary: $secondary,
 * 14 | |   $light: $light,
 * 15 | |   $dark: $dark,
 * 16 | |   $font-family-base: $font-family-base,
 * 17 | |   $headings-font-family: $headings-font-family
 * 18 | | );
 *    | '-^
 *    '
 *   styles/custom.scss 11:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 11 \2502  \250c  @use \"bootstrap/scss/bootstrap\" with (\a 12 \2502  \2502    $primary: $primary,\a 13 \2502  \2502    $secondary: $secondary,\a 14 \2502  \2502    $light: $light,\a 15 \2502  \2502    $dark: $dark,\a 16 \2502  \2502    $font-family-base: $font-family-base,\a 17 \2502  \2502    $headings-font-family: $headings-font-family\a 18 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   styles/custom.scss 11:1  root stylesheet";
}
